.tournaments-list__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tournaments-list__container {
    display: flex;
    justify-content: left;
    flex-grow: 1;
    overflow-y: auto;
}